.projects {
    padding: 90px 0;
    background-color: $colorSecondaryGray;
}

.projects__row__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    &+& {
        margin-top: 90px;
    }
}

.projects__row__elem__name {
    color: $colorSecondaryBlack;
    font-size: clamp(0.938rem, 0.872rem + 0.33vw, 1.125rem);
    font-weight: 400;
    text-decoration-line: underline;
}

@include mediaPhone {
    .projects {
        padding: 60px 0;
    }

    
}