/*FONTS*/

$fontMain: Poppins, serif;

/*FONTS*/

/*COLORS*/

$colorBlack: #000;
$colorSecondaryBlack: #070707;
$colorWhite: #fff;
$colorGray: #606060;
$colorSecondaryGray: #F1F1F1;

/*COLORS*/

/*MEDIA*/


$phone: 1000px;

/*MEDIA*/